<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduce | VStorm</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon/VS_favicon.png">

    <!-- font size -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@400..700&family=Parisienne&family=Pinyon+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@300;400;700&display=swap');
    </style>
    <!-- css -->
    <link rel="stylesheet" href="public/css/mainCSS.css">
    <link rel="stylesheet" href="public/css/animationHead.css">
    <link rel="stylesheet" href="public/css/separate.css">
    <link rel="stylesheet" href="public/css/header.css"> 
    <link rel="stylesheet" href="public/css/elementorSpacer.css">
    <link rel="stylesheet" href="public/css/backend.css">
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <!-- js  -->
    <script src="public/js/mainJS.js"></script>
    <script src="public/js/animation.js"></script>
    <script src="public/js/header.js"></script>
    <script src="public/js/localStorage.js"></script>
    <!-- backend -->
    <script type="module" src="public/js/backend/realtime-FirebaseDatabase.js"></script>
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>