:root {
    --top-section: 150px;
    --main-font-size: 16px;
    --head-font-size: 22px;
    /* var(--blue) */
}

/* light theme */
:root {
    --text-job: #b86ee0fb;
    --shadow-job: rgba(111, 36, 151, 0.984);
    --main-color: #fab410;
    --shadow-contact: #a0a0a0fb;
    --text-color: #4b4b4b;
    --line-color: rgb(187, 187, 187);
    --line-exp-color: rgb(133, 133, 133);
    --line-contact: rgba(99, 99, 99, 0.466);

    --main-background-color: rgb(250, 250, 250);
}

/* dark theme */
:root {
    --text-job-dark: #bd1600fb;
    --shadow-job-dark: rgba(85, 17, 0, 0.671);
    --main-color-dark: #00c90a;
    --shadow-contact-dark: #a0a0a0fb;
    --text-color-dark: #dadada;
    --line-color-dark: rgb(104, 104, 104);
    --line-exp-color-dark: rgb(182, 181, 181);
    --line-contact-dark: rgba(216, 216, 216, 0.527);

    --main-background-color-dark: rgb(58, 58, 58);
}


body {
    margin: 0px;
    padding: 0px;
    position: relative;
    background-color: var(--main-background-color);
}
    body.light {
        background-color: var(--main-background-color);
    }
        

    body.dark {
        background-color: var(--main-background-color-dark);
        transition: color 0.5s, background-color 0.5s, border-color 0.5s;
    }

    body::-webkit-scrollbar {
        width: 12px;
        transition: background-color 0.5s;
    }
        body.light::-webkit-scrollbar {
            background-color: #e7e7e7;
        }
        
        body.dark::-webkit-scrollbar {
            background-color: #2c2c2c;
        }
    
    body::-webkit-scrollbar-thumb {
        border-radius: 23px;
        transition: background-color 0.5s;
    }
        body.light::-webkit-scrollbar-thumb {
            /* background-color: color-mix(in srgb, var(--main-color) 10%, rgb(36, 36, 36) 90%); */
            background-color: rgb(36, 36, 36,  0.767);

        }
        body.dark::-webkit-scrollbar-thumb {
            /* background-color: color-mix(in srgb, var(--main-color-dark) 10%, rgb(228, 228, 228) 90%); */
            background-color: rgba(228, 228, 228, 0.767);
        }

.text-main.light {
    color: var(--text-color) !important;
}

.text-main.dark {
    color: var(--text-color-dark) !important;
}

.background-main.light {
    background-color: var(--main-color) !important;
}

.background-main.dark {
    background-color: var(--main-color-dark) !important;
}

.text-hello {
    font-family: "Courgette", serif;
    font-weight: 400;
    font-style: normal;

    font-family: "Rowdies", sans-serif;
    font-weight: 100 !important;
    font-style: italic;
    /* font-size: 65px !important; */

    /* font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic; */
}

.text-intro {
    font-family: "Courgette", serif;
    font-weight: 400;
    font-style: normal;

    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: italic;

    /* font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic; */
}

.text-des {
    /* font-family: "Courgette", serif;
    font-weight: 400;
    font-style: normal; */

    /* font-family: "Rowdies", serif;
    font-weight:lighter;
    font-style: normal; */

    font-family: "Poppins", serif;
}
    #name {
        color: #ffffff;
    }

        #name.light {
            color: var(--main-color);
        }

        #name.dark{
            color: var(--main-color-dark);
        }

#home {
    /* margin-top: 150px; */
    padding-top: 180px;
    margin-bottom: 50px;
    width: 100%;
    /* min-height: 100px; */
    /* height: 700px; */
    /* background: blue; */
    display: flex;
    position: relative;
}

    #head-decorate {  
        width: 100%;
        height: 100%;
        position: absolute;
    }
        .dot-pattern {
            width: 250px;
            height: 180px;
            
            background-size: 30px 30px; 
            position: absolute;
            z-index: -2;
            left: -75px;
            bottom: 0%;
        }

            .dot-pattern.light {
                background-image: 
                    radial-gradient(circle, 
                        color-mix(in srgb, var(--main-color) 50%, rgb(250, 250, 250) 50%) 20%, 
                        transparent 0%
                    );
            }

            .dot-pattern.dark {
                background-image: 
                    radial-gradient(circle, 
                        color-mix(in srgb, var(--main-color-dark) 80%, rgba(126, 126, 126, 0.192) 20%) 20%, 
                        transparent 0%
                    );
            }

    #head-content {
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        justify-content: center;
        /* justify-content: space-between; */
        /* justify-content: space-around; */
        /* padding: 0px 50px; */
        row-gap: 80px;
        column-gap: 70px;
        flex-wrap: wrap;
    }

        #introduce-text{
            /* width: 100%; */
            width: 700px;   
            margin: 0px 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* margin: 0px 60px; */
        }
            #introduce-text p {
                margin: 0px;
            }

            #introduce-text .hi {
                font-size: 30px;
                margin-bottom: 10px;
            }

                .hi.light {
                    color: #47474786;
                }

                .hi.dark {
                    color: #969696da;
                }

            #introduce-text .intro {
                /* font-weight: bold; */
                font-size: 50px;
            }

                #introduce-text .intro span{
                    /* font-weight: bold; */
                    font-size: 60px;
                }

                #job {
                    color: var(--text-job);
                    text-shadow: 
                        1px 1px var(--shadow-job), 
                        2px 2px var(--shadow-job), 
                        3px 3px var(--shadow-job), 
                        4px 4px var(--shadow-job), 
                        5px 5px var(--shadow-job);

                    -webkit-transform: translateX(-8px) translateY(-8px);
                    transform: translateX(-8px) translateY(-8px);
                    transition: text-shadow 0.5s;
                }
                    #job.light {
                        color: var(--text-job);
                        text-shadow: 
                            1px 1px var(--shadow-job), 
                            2px 2px var(--shadow-job), 
                            3px 3px var(--shadow-job), 
                            4px 4px var(--shadow-job), 
                            5px 5px var(--shadow-job);
                    }

                    #job.dark {
                        color: var(--text-job-dark);
                        text-shadow: 
                            1px 1px var(--shadow-job-dark), 
                            2px 2px var(--shadow-job-dark), 
                            3px 3px var(--shadow-job-dark), 
                            4px 4px var(--shadow-job-dark), 
                            5px 5px var(--shadow-job-dark);
                    }

            #animation-job {
                width: 100%;
                height: 65px;
                position: relative;
            }

            #description {
                /* margin-top: 5px !important; */
                margin-bottom: 25px !important;
            }

            #introduce-text .des {
                /* font-weight: bold; */
                font-size: 20px;
                /* color: rgb(80, 80, 80); */
                /* color: color-mix(in srgb, var(--main-color) 50%, rgb(250, 250, 250) 50%); */
            }
            
            .follow-container {
                display: flex;
                align-items: center;
                margin-bottom: 15px;
            }

                .follow-container p:first-child{
                    margin-right: 15px !important;
                }

                .follow-container .element-icon {
                    width: 80px;
                    /* height: 50px; */
                    aspect-ratio: 1 / 1;
                    margin-left: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    position: relative;
                }

                    .hover-icon {
                        opacity: 0;
                    }

                    .element-icon i {
                        font-size: 40px;
                    }

                    .element-icon svg {
                        position: absolute;
                        height: 100%;
                        width: 100%;
                    }

                    .element-icon:hover svg{
                        animation: biggerIcon 0.25s forwards;
                    }

                    .element-icon:hover .hover-icon{
                        animation: fadeIn 0.8s forwards;
                    }

                    /* animation icon */
                    @keyframes fadeIn {
                        from {
                            opacity: 0;
                        }
                        to {
                            opacity: 1;
                        }
                    }

                    /* animation icon */
                    @keyframes biggerIcon {
                        to {
                            height: 120%;
                            width: 120%;
                        }
                    }

        .avatar-container {
            /* width: 800px; */
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* padding: 0px 50px; */
            margin: 0px 25px;
            position: relative;
        }

        .avatar-container::after {
            content: "";
            height: 90%;
            width: 90%;
            position: absolute;
            z-index: -1;
            border-radius: 50%;
            border: 5px #d8d7d750 solid;
            left: -18px;
            top: -22px;
        }
            .avatar-container.light::after{
                border-color: #d8d7d750;
            }

            .avatar-container.dark::after{
                border-color: #57575759;
            }

        .avatar-container::before {
            content: "";
            height: 30%;
            width: 30%;
            position: absolute;
            z-index: -1;
            border: 6px #fcf0ab50 solid;
            right: 25px;
            bottom: 30px;
            transform: rotate(45deg);
        }
            .avatar-container.light::before{
                border-color: #fcf0ab50;
            }

            .avatar-container.dark::before{
                border-color: #84ff541a;
            }

        #introduce-avatar {
            /* width: 50%; */
            width: 540px;
            /* height: 500px; */
            aspect-ratio: 1 / 1;
            position: relative;
            border: 3px rgb(252, 238, 194) solid;
            border-radius: 50%;
            overflow: hidden;
        }
            #introduce-avatar.light {
                border-color: rgb(252, 238, 194);
            }   

            #introduce-avatar.dark {
                border-color: rgb(34, 100, 18);
            }   


            #introduce-avatar img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                position: absolute;

                transition: opacity 0.8s;
            }



/* About */

.section {
    padding-top: var(--top-section);
    margin-bottom: 35px;
    font-family: "Poppins", serif;
    justify-content: center;
    gap: 30px;
    position: relative;
    min-height: 500px;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns:auto; */
    /* overflow: hidden; */
}

/* #about {
    background-color: rgba(255, 0, 0, 0.473);
} */
    .title-section {
        position: absolute;
        text-transform: uppercase;
        z-index: -1;
        top: var(--top-section);
        font-size: 160px;
        margin: 0px;    
        writing-mode:sideways-lr;
        color: #e2e2e2;
        left: calc((100% - 1000px) * 0.2);
    }

        .title-section.light {
            color: #e2e2e2;
        }

        .title-section.dark {
            color: #535353;
        }

    @media screen and (max-width: 1100px){
        .title-section {
            position: relative;
            top: auto;
            writing-mode:horizontal-tb;
            left: auto;
            width: calc(100% - 25px);   
            /* font-size: 140px; */
            font-size: clamp(5px, 17vw, 140px);

            margin-left: 25px;
            height: 160px;
        }

        /* project section */
        .box-project {
            width: 100% !important;
            margin-left: 0% !important;
        }
    }

    .about-info {
        width: 250px;
        /* padding: 0px 80px;
        left: 10px; */
        margin-right: calc(max(35%, 440px) - 440px);
        margin-left: calc(max(35%, 440px) - 440px);
        padding-left: 30px;
    }
        .info-title, .info-content{
            padding: 0px;
            margin: 0px;
            font-weight: 500;
            font-size: var(--main-font-size);
        }

        .info-title {
            margin-top: 30px;
            text-transform: uppercase;
            letter-spacing: 2px;
            
        }

        .info-title::before {
            content: "";
            border-left: 2px solid;
            padding-left: 6px;
            height: 20px;
        }

        .info-content {
            margin-top: 2px;
            list-style: none;
        }

    .about-achie {
        width: 750px;
        /* margin-right: calc(max(250px, 15%) - 250px); */
        /* background-color: rgba(0, 255, 85, 0.39); */
    }

        .about-achie-head {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }

        .about-achie-box {
            /* background-color: red;
            border-radius: 25px;
            border: 3px yellow solid; */
            
            /* padding-left: 30px; */
            text-transform: uppercase;
            letter-spacing: 3px;
        }
            .about-achie-box-title {
                font-size: var(--head-font-size);
                font-weight: 500;
                margin-top: 30px;
                margin-bottom: 10px;
            }

            .about-achie-box-content {
                font-size: 85px;
                font-weight: 800;
                margin: 0px;
            }

                .about-achie-box-content.light{
                    color: var(--main-color);
                }

                .about-achie-box-content.dark{
                    color: var(--main-color-dark);
                }

        /* .about-achie-body {
            background-color: rgba(7, 7, 223, 0.205);
        } */

            .about-chie-des-title h1{
                font-size: calc(var(--head-font-size) + 1px);
                /* font-weight: 600; */
                /* color: red; */
            }
            
            .about-chie-des-content {
                margin-bottom: 60px;
            }

                .about-chie-des-content p{
                    font-size: calc(var(--main-font-size) + 1px);
                }

            #button-downloadcv {
                background-color: var(--main-color);
                font-size: 20px;
                padding: 20px 90px;
                font-weight: 500;
                color: #464545;
                text-decoration: none;
                /* margin: 100px; */
                margin-top: 50px !important;
            }
                #button-downloadcv.light{
                    color: var(--text-color);
                }
                #button-downloadcv.dark{
                    /* color: var(--text-color-dark); */
                    color: var(--main-background-color-dark);
                }

            #button-downloadcv.light:hover {
                background-color: color-mix(in srgb, var(--main-color) 80%, #ffd663 20%) !important;
                color: #202020;
            }
            #button-downloadcv.dark:hover {
                background-color: color-mix(in srgb, var(--main-color-dark) 80%, #707070 20%) !important;
                color: #202020;
            }

        @media screen and (max-width: 1250px) {
            .about-achie-head {
                grid-template-columns: repeat(2, 1fr);
            }

            .about-achie {
                min-width: 565px;
                width: calc(100% - 320px);
            }
        }

        @media screen and (max-width: 900px) {
            /* .about-achie-head {
                background-color: red;
            } */

            .about-achie-box *{
                padding-left: 30%;
            }
        }

/* skill section */
#skills {
    /* background-color: rgba(0, 0, 255, 0.192); */
    /* border: 2px rgb(0, 255, 21) solid; */

    display: flex;
    /* grid-template-columns: repeat(2, 0fr); */
    gap: 100px;
    flex-direction: column;
    /* justify-items: center; */
    align-items: center;
}

.box-skill-1th {
    /* display: flex; */
    /* height: 700px; */
    width: max(55%, 850px);
    
    /* margin-left: calc(max(20%, 200px) - 200px); */
}

.box-skill-1th:last-child {
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5px;
}


@media screen and (max-width: 1060px){
    .box-skill-1th:last-child, .body-box-skill-2col{
        display: flex !important;
        flex-direction: column;
    }

    .box-skill-1th {
        margin-left: 0px;
        width: auto;
    }

    .box-skill-1th:last-child {
        display: flex;
        gap: 100px;
    }
}

/* .box-skill-2th {
    display: flex;
    width: 50%;
} */

    .head-box-skill {
        /* width: auto; */
        display: flex;
        text-transform: capitalize;
        font-weight: 400;
    }
        .head-box-skill div {
            background-color: #666666;
            color: #e7e7e7;
            padding: 10px 35px;
            font-size: var(--head-font-size);
            position: relative;

            margin-bottom: 35px;
        }

        .head-box-skill div:after {
            background-color: rgb(56, 56, 56);
            content: "";
            width: 100%;
            height: 100%;
            bottom: -15px;
            right: -20px;
            z-index: -1;
            position: absolute;
        }

    .body-box-skill {
        display: flex;
        flex-direction: column;
        row-gap: 17px;
    }

    .body-box-skill-2col{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5px;
    }

        .detail-box-skill {
            padding-left: 50px;
            display: flex;
        }

            .percent-nonslider-skill {
                font-weight: 400;
                font-size: 30px;
                bottom: 0px;
                /* color: var(--main-color); */
                margin-top: 21px;
                /* margin-right: 27px; */
                min-width: 85px;
            }
                .percent-nonslider-skill.light {
                    color: var(--main-color);
                }

                .percent-nonslider-skill.dark {
                    color: var(--main-color-dark); 
                }

                .percent-nonslider-skill::after {
                    content: "%";
                }

            .content-box-skill {
                display: flex;
                flex-direction: column;
            }

                .name-detail-box-skill {
                    padding-bottom: 2px;
                    text-transform: capitalize;
                    color: #585858;
                    font-weight: 450;
                    font-size: calc(var(--main-font-size) + 1px);
                }

                .nonslider-skill {
                    /* background-color: aquamarine; */
                    width: 300px;
                    height: 31px;
                    position: relative;
                    display: flex;
                    align-items: center;
                }
                .nonslider-skill::after {
                    content: "";
                    width: 100%;
                    height: 11px;
                    background-color: rgb(214, 214, 214);
                }
                    
                    .nonslider-skill-detail {
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        height: 100%;
                        /* background-color: var(--main-color); */
                        width: 0%;     
                        transition: width 1s;
                    }
                        .nonslider-skill-detail.light {
                            background-color: var(--main-color);
                        }
                        .nonslider-skill-detail.dark {
                            background-color: var(--main-color-dark);
                        }

                    .start-nonslider {
                        width: 0% !important;
                    }

/* project  */

#projects {
    min-height: 825px;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

    .box-project {
        width: 92%;
        margin-left: 8%;
        /* margin-right: 5%; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap:50px 40px; 
    }

        .detail-box-project {
            /* border-right: 2px rgb(187, 187, 187) solid; */
            display: flex;
            width: 670px;
            height: 320px;
        }    
            .detail-box-project.light {
                border-right: 2px var(--line-color) solid;
            }
            .detail-box-project.dark {
                border-right: 2px var(--line-color-dark) solid;
    
            }

            .image-box-project {
                height: 100%;
                min-width: 320px;
                width: 320px;
                overflow: hidden;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
            }

            /* .image-box-project:hover{
                border: 2px rgb(184, 184, 184) solid;
            } */

                .image-box-project img{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    transition: transform 0.25s ease-in-out;
                    object-fit: cover;
                    object-position: center;
                }

                .image-box-project:hover img{
                    transform: scale(1.15);
                }


            .content-box-project {
                display: flex;
                flex-direction: column;
                padding-left: 20px;
                padding-right: 10px;
            }

            /* .content-box-project *{
                color: #3f3f3f ;
            } */

                .title-content-box-project {
                    margin-top: 10px;
                    margin-bottom: 5px;
                    font-size: var(--head-font-size);
                    min-height: 66px;
                    /* font-weight: 600; */
                }

                .des-content-box-project {
                    font-size: var(--main-font-size);
                    min-height: 150px;
                }

                .viewmore-content-box-project {
                    /* height: 100%; */
                    font-size: var(--main-font-size);
                    align-content: center;
                    text-decoration: none;
                    
                    text-transform: uppercase;
                    font-weight: 400;
                }

                .ani-hover {
                    position: relative;
                    width: auto;
                }

                    .ani-hover::after {
                        content: "";
                        position: absolute;
                        width: 0px;
                        height: 16px;  
                        z-index: -1;
                        top: 10px;
                        left: 4px;
                        transition: width 0.6s;
                        transform:skewX(0);
                    }

                        .ani-hover.light::after {
                            background-color: color-mix(in srgb, var(--main-color) 50%, #ffffff 50%);
                        }

                        .ani-hover.dark::after {
                            background-color: color-mix(in srgb, var(--main-color-dark) 50%, #141414 50%);
                        }

                    .ani-hover:hover {
                        /* color: color-mix(in srgb, var(--main-color) 90%, #222222 10%); */
                        color: #353535;
                    }

                    .ani-hover:hover::after{
                        width: 88px;
                    }

/* experience*/

/* #experience {
    background-color: red;
} */

.box-exp {
    /* width: 65%; */
    /* min-width: 600px; */
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
    width: 1100px;
}

    .detail-box-exp {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 30px;
    }

        .time-detail-box-exp {
            position: relative;
            width: 100%;
            height: 50px;
            display: flex;
        }

            .spe-box-exp {
                width: 50%;
                display: flex;
                align-items: center; 
            }
             
            .spe-box-exp:first-child{
                justify-content: right;
            }

                .spe-box-exp h1 {
                    margin: 0px;
                    white-space: nowrap;
                    padding: 0px 12px;
                    text-transform: capitalize;
                }
                    .from-time-detail-box-exp {
                        padding-right: 8px !important;
                    }

                    .to-time-detail-box-exp {
                        padding-left: 8px !important;
                    }

                .spe-exp {
                    height: 100%;
                    position: relative;
                    align-content: center;
                }
                    .spe-exp::after {
                        content: "";
                        height: 2px;
                        width: 100%;
                        position: absolute;
                        /* background-color: #202020; */
                    }
                        .detail-box-exp.light .spe-exp::after {
                            background-color: var(--line-exp-color);
                        }
                        .detail-box-exp.dark .spe-exp::after {
                            background-color: var(--line-exp-color-dark);
                        }

                    .detail-box-exp:last-child {
                        padding-bottom: 22px;
                        /* border-bottom: 2px #202020 solid; */
                        border-bottom: 2px var(--line-exp-color) solid;
                        transition: border-color 0.5s;
                    }
                        .detail-box-exp.light:last-child {
                            border-color: var(--line-exp-color);
                        }
                        .detail-box-exp.dark:last-child {
                            border-color: var(--line-exp-color-dark);
                        }


                .spe1-exp {
                    flex-grow: 1;
                }

                .spe2-exp {
                    width: 7px; 
                }

        .content-box-exp {
            display: flex;
            position: relative;
            width: 100%;
            min-height: 164px;
        }      

            .block-content-box-exp{
                width: 50%;
                display: flex;
                flex-direction: column;
            }
            
                .block-content-box-exp .description {
                    margin-bottom: 0px;
                    margin-top: 20px;
                }

                .name-company-box-exp {
                    font-weight: 500;
                    display: flex;
                    flex-direction: column;
                    /* gap: 2px; */
                }

                .location-company-box-exp {
                    flex-grow: 2;
                    align-content: end;
                }

/* contact  */
#contact {
    min-height: 760px;
}
 
.box-contact {
    position: relative;
    /* width: 50%; */
    width: 1100px;
    /* min-height: 700px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 40px;
}

    .detail-box-contact{
        min-width: 520px;
        /* height: 700px; */
        display: flex;
        flex-direction: column;
        /* padding: 20px; */
        box-sizing: border-box;
    }

    .box-contact form.detail-box-contact{
        background-color: var(--main-color);
        padding: 40px;
        position: relative;
        overflow: hidden;
        transition: background-color 0.5s,;
    }    
        .box-contact.light form.detail-box-contact {
            background-color: var(--main-color);
        }
        .box-contact.dark form.detail-box-contact {
            background-color: var(--main-color-dark);
        }
        
        .decorate-contact {
            position: absolute;
            top: -20px;
            right: -25%;
            font-size: 470px;
            color: #2020200c;
            /* z-index: -1; */
            transition: color 0.5s;
        }
            .box-contact.light .decorate-contact {
                color: #2020200c;
            }
            .box-contact.dark .decorate-contact {
                color: #ffffff1a;
            }


            div.detail-box-contact .decorate-contact {
                font-size: 295px;
                /* top: 0px; */
                top: auto;
                right: auto;
                bottom: 2%;
                right: 0%;
            }

        form.detail-box-contact label {
            text-transform: capitalize;
            /* font-size: var(--main-font-size); */
            display: flex;
        }
        
            form.detail-box-contact label p {
                margin: 0px;
                position: relative;
                border-left: 2px rgb(99, 99, 99) solid;
                padding-left: 5px;
                color: #303030;

                transition: color 0.5s, border-color 0.5s;
            } 
            
                .box-contact.light form.detail-box-contact label p {
                    border-color: color-mix(in srgb, var(--line-contact) 80%, rgba(255, 255, 255, 0.13) 20%);
                    /* border-color: var(--line-contact); */
                    color: #303030;
                }
                .box-contact.dark form.detail-box-contact label p {
                    border-color: color-mix(in srgb, var(--line-contact-dark) 80%, rgba(0, 0, 0, 0.13) 20%);
                    /* border-color: var(--line-contact-dark); */
                    color: #e9e9e9;
                }


        form.detail-box-contact input, form.detail-box-contact textarea{
            all: unset;
            z-index: 1;
            margin-top: 15px;
            margin-bottom: 40px;
            font-family: "Poppins", serif;
            font-size: var(--main-font-size);
            border-bottom: 2px rgb(99, 99, 99) solid;
            transition: color 0.5s, border-color 0.5s;
        }

            .box-contact.light form.detail-box-contact input,.box-contact.light form.detail-box-contact textarea {
                border-color: var(--line-contact);
            }
            .box-contact.dark form.detail-box-contact input,.box-contact.dark form.detail-box-contact textarea {
                border-color: var(--line-contact-dark);
                color: rgb(20, 20, 20);
            }

        form.detail-box-contact textarea::-webkit-scrollbar {
            width: 8px;  /* Độ rộng thanh cuộn */
        }
        
        form.detail-box-contact textarea::-webkit-scrollbar-thumb {
            background: #6b6b6bb2; /* Màu thanh trượt */
            border-radius: 10px;
        }
            .box-contact.light form.detail-box-contact textarea::-webkit-scrollbar-thumb {
                background: #6b6b6bb2;
            }
            .box-contact.dark form.detail-box-contact textarea::-webkit-scrollbar-thumb {
                background: #e7e7e7a8;
            }

        form.detail-box-contact textarea::-webkit-scrollbar-thumb:hover {
            background: #e7e7e7d8; /* Đổi màu khi hover */
        }
            .box-contact.light form.detail-box-contact textarea::-webkit-scrollbar-thumb:hover {
                background: #e7e7e7d8;
            }
            .box-contact.dark form.detail-box-contact textarea::-webkit-scrollbar-thumb:hover {
                background: #6b6b6bb2;
            }


        .button-contact {
            display: flex;
        }
            #button-contact {
                border: 0px;
                position: relative;
                font-weight: 600;
                margin-top: 23px;
                margin-bottom: 0px;
                color: #3d3d3d;
                z-index: 2;
                cursor: pointer;

                transition: color 0.5s;
            }
                .box-contact.light #button-contact{
                    color: #292929;
                }
                .box-contact.dark #button-contact{
                    color: rgb(226, 226, 226);
                }

            .button-contact .ani-hover::after {
                top: 33px;
                height: 18px;
                left: 4px;
                background-color: rgb(223, 223, 223);
                z-index: 1;
            }
                .box-contact.light .button-contact .ani-hover::after{
                    background-color: rgb(223, 223, 223);
                }
                .box-contact.dark .button-contact .ani-hover::after{
                    background-color: rgb(70, 70, 70);
                }
            
            .button-contact .ani-hover:hover::after {
                width: 123px;
            }

    
    .detail-box-contact:last-child {
        width: 520px;
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
        position: relative;
        overflow: hidden;
        gap: 15px;
    }

        /* start */

        .head-logo-contact {
            height: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .head-logo-contact p{
                margin: 0px;
                font-size: 90px;
                font-weight: 700;
                padding: 0px 50px;
                position: relative;
                border-bottom: 3px rgb(206, 206, 206) solid;
                color: rgb(80, 80, 80);
                text-shadow:
                    0.5px 0.5px var(--shadow-contact), 
                    1px 1px var(--shadow-contact), 
                    1.5px 1.5px var(--shadow-contact), 
                    2px 2px var(--shadow-contact), 
                    2.5px 2.5px var(--shadow-contact) ,
                    3px 3px var(--shadow-contact), 
                    3.5px 3.5px var(--shadow-contact), 
                    4px 4px var(--shadow-contact), 
                    4.5px 4.5px var(--shadow-contact), 
                    5px 5px var(--shadow-contact),
                    5.5px 5.5px var(--shadow-contact),
                    6px 6px var(--shadow-contact),
                    6.5px 6.5px var(--shadow-contact);
                
                
                -webkit-transform: translateX(-8px) translateY(-8px);
                transform: translateX(-8px) translateY(-8px);
            }

                .head-logo-contact p::before, .head-logo-contact p::after{
                    content: "";
                    position: absolute;
                    background-color: rgb(206, 206, 206);
                    width: 3px;
                    height: 35%;
                    left: 0px;
                    bottom: 0px;
                }

                .head-logo-contact p::after {
                    left: auto;
                    right: 0px !important;
                }

        .body-logo-contact {
            flex-grow: 1;
        }

        /* end */

        .box1-contact {
            text-align: center;
            padding: 20px 0px;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 500;
            position: relative;
            margin-bottom: 20px;
        }

            .box1-contact::before {
                content: "";
                height: 3px;
                /* width: 80%; */
                left: 12%;
                right: 12%;
                bottom: 5px;
                position: absolute;
                background-color: var(--main-color);
            }
                .box-contact.light .box1-contact::before {
                    background-color: var(--main-color);
                }
                .box-contact.dark .box1-contact::before {
                    background-color: var(--main-color-dark);
                }

        .logo-contact {
            width: 100%;
            height: 230px;
            position: relative;
            text-align: center;
        }

            .logo-contact img{
                /* width: 100%; */
                height: 100%;
                object-fit: cover;
                object-position: center;
            }

        .box2-contact {
            display: flex;
            flex-direction: column;
            padding: 0px 65px;
            padding-bottom: 75px;
        }

            .content-contact {
                position: relative;
            }

                .content-contact * {
                    margin: 0px;
                    padding: 0px;
                }

                .head-content-contact {
                    text-transform: uppercase;
                    color: #2c2c2c3b;
                    font-size: 17px;
                    margin-top: 15px;
                    position: absolute;
                    top:0px;
                }
                    .box-contact.light .head-content-contact {
                        color: #2c2c2c3b;
                    }
                    .box-contact.dark .head-content-contact {
                        color: #ebebeb50;
                    }


                .body-content-contact {
                    margin-top: 36px;
                    font-size: 28px;
                    color: #444444;
                }
                    .box-contact.light .body-content-contact {
                        color: #444444;
                    }
                    .box-contact.dark .body-content-contact {
                        color: #d1d1d1;
                    }

                    .body-content-contact p span:first-child {
                        /* @ */
                        /* font-size: 20px; */
                        color: #c59c15;
                    }
                        .box-contact.light .body-content-contact p span:first-child {
                            color: #c59c15;
                        }
                        .box-contact.dark .body-content-contact p span:first-child {
                            color: #39c40f;
                        }

                    .body-content-contact p span:last-child {
                        /* gmail.com */
                        color: #d3ae35;
                        font-size: 20px;
                    }
                        .box-contact.light .body-content-contact p span:last-child {
                            color: #d3ae35;
                        }
                        .box-contact.dark .body-content-contact p span:last-child {
                            color: #53d42c;
                        }

                    div.body-content-contact {
                        height: 42px;
                        display: flex;
                        gap: 12px;
                        align-items: center;
                    }

                        div.body-content-contact a{
                            color: rgb(61, 61, 61);
                            display: flex;
                            align-items: center;
                            text-decoration: none;
                        }
                            .box-contact.light div.body-content-contact a {
                                color: rgb(61, 61, 61);
                            }
                            .box-contact.dark div.body-content-contact a {
                                color: #d1d1d1;
                            }

                        div.body-content-contact i{
                            font-size: 32px;
                            width: 32px;
                            text-align: center;
                        }

                        div.body-content-contact i:hover{
                            font-size: 36px;
                            color: var(--main-color);
                        }
                            .box-contact.light div.body-content-contact i:hover {
                                color: var(--main-color);
                            }
                            .box-contact.dark div.body-content-contact i:hover {
                                color: var(--main-color-dark);
                            }

/* footer */
#footer {
    font-family: "Poppins", serif;
    width: 100%;
    /* height: 50px; */
    margin-top: 45px;
    margin-bottom: 3px;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    color: #535353;
    z-index: 1;
    position: relative;
}
    #footer.light {
        color: #535353;
    }
    #footer.dark {
        color: #b6b6b6;
    }

    #footer p {
        flex-grow: 1;
        height: 20px;
        text-align: center;
    }

    #footer p:first-child {
        flex-grow: 1;
    }

    .hightlight-footer {
        color: #3d3d3d;
        font-weight: 500;
        transition: color 0.5s, background-color 0.5s, border-color 0.5s;
    }
        #footer.light .hightlight-footer{
            color: #3d3d3d;
        }
        #footer.dark .hightlight-footer{
            color: #dbdbdb;
        }

    #footer a {
        text-decoration: none;
        transition: color 0.25s;
    }

        #footer.light a:hover {
            color: color-mix(in srgb, var(--main-color) 80%, rgb(92, 92, 92) 20%);
        }
        #footer.dark a:hover {
            color: color-mix(in srgb, var(--main-color-dark) 80%, rgb(214, 214, 214) 20%);
        }

/* option */
.disable_img {
    opacity: 0;
}

/* - Backend - */
/* count visits */

#count {
    display: flex;
    gap: 25px;
    direction: rtl;
    margin-left: 15px;
    /* margin-right: 5px; */

    writing-mode:sideways-lr;
    justify-content: center;
}

    #count .box-count {
        /* flex-grow: 1; */
        /* padding-left: 150px; */
        direction: ltr;

        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        gap: 11px;
        margin-bottom: 20px;
    }

        .box-count p {
            font-family: "Poppins", serif;
            margin: 0px;
            display: flex;
            align-items: center;
            gap: 8px;
            /* font-size: 18px; */
        }
            
            .title-count {
                font-size: 17px;
                font-weight: 500;
                text-transform: uppercase;
                color: rgb(148, 148, 148);
            }

                #count.light .box-count .title-count {
                    color: rgb(133, 133, 133);
                }
                
                #count.dark .box-count .title-count {
                    color: rgb(116, 116, 116);
                }

            .value-count {
                font-size: 32px;
                color: rgb(126, 126, 126);
                font-weight: 500;
            }

                #count.light .box-count .value-count {
                    color: rgb(110, 110, 110);
                }
                
                #count.dark .box-count .value-count {
                    color: rgb(150, 150, 150);
                }

@media screen and (max-width: 900px){
    #count {
        writing-mode:inherit;
        /* direction:initial; */
        justify-content: center;
        gap: 20px;
        margin: 0px;
        width: 100%;
    }

    #count .box-count {
        /* flex-grow:  1; */
        margin: 0px;
        margin-right: 60px;
    }

    #home {
        padding-top: 80px;
    }
}